<!DOCTYPE html>
<html>
<head>
    <title>Meu Portfólio - Projetos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Projetos</h2>
        <div class="project">
            <h3>Projeto 1</h3>
            <p>Este é o meu primeiro projeto, onde desenvolvi um site simples usando Phyton, HTML e CSS.</p>
        </div>
        <div class="project">
            <h3>Projeto 2</h3>
            <p>Em processo.</p>
        </div>
        <div class="project">
           <h3>Projeto 3</h3>
           <p>Em processo.</p>
        </div>
        <div class="project">
            <h3>Projeto 4</h3>
            <p>Em processo.</p>
        </div>
    </div>
</body>
</html>
